<a href="https://colab.research.google.com/github/Amarsinh0/BASICS-OF-PANDA/blob/main/BASIC_PANDA_STEP_1_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/sample_data/california_housing_test.csv")
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
df.tail(3)

      longitude  latitude  ...  median_income  median_house_value
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3 rows x 9 columns]

In [ ]:

df['population']

0       1537.0
1        809.0
2       1484.0
3         49.0
4        850.0
         ...
2995    1258.0
2996    3496.0
2997     693.0
2998      46.0
2999     753.0
Name: population, Length: 3000, dtype: float64

In [ ]:
type(df['total_rooms'])

pandas.core.series.Series

***select column from dataset by its name***

In [ ]:
df[['population','total_rooms']]

      population  total_rooms
0         1537.0       3885.0
1          809.0       1510.0
2         1484.0       3589.0
3           49.0         67.0
4          850.0       1241.0
...          ...          ...
2995      1258.0       1450.0
2996      3496.0       5257.0
2997       693.0        956.0
2998        46.0         96.0
2999       753.0       1765.0

[3000 rows x 2 columns]

*shows all columns of dataset*

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
df.iloc[3]

longitude               -118.3600
latitude                  33.8200
housing_median_age        28.0000
total_rooms               67.0000
total_bedrooms            15.0000
population                49.0000
households                11.0000
median_income              6.1359
median_house_value    330000.0000
Name: 3, dtype: float64

In [ ]:
df.iloc[[0,4]]

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
4    -119.67     36.33  ...         2.9375             81700.0

[2 rows x 9 columns]

using iloc method ===> select 0th and 4th rows from dataset and find valuse of 8th column *

In [ ]:
df.iloc[[0,4],8]

0    344700.0
4     81700.0
Name: median_house_value, dtype: float64

using loc method  ====> select 0th and 4th rows from dataset and find valuse of 8th column

In [ ]:
df.loc[[0,4],'median_house_value']

0    344700.0
4     81700.0
Name: median_house_value, dtype: float64

** select 0th and 4th rows from dataset and choose any two column with column name**

In [ ]:
df.loc[[0,4],['population','total_rooms']]

   population  total_rooms
0      1537.0       3885.0
4       850.0       1241.0

*it will gives categorywise counts of  how many houses having same housing_median_age*

In [ ]:
df['housing_median_age'].value_counts()

52.0    173
35.0    118
36.0    115
16.0    107
34.0    102
17.0    100
32.0     91
37.0     88
26.0     88
25.0     86
33.0     85
15.0     77
19.0     76
18.0     76
30.0     76
24.0     75
29.0     75
27.0     74
38.0     64
20.0     63
21.0     61
22.0     60
28.0     58
14.0     57
31.0     57
41.0     56
43.0     56
39.0     55
23.0     53
44.0     51
45.0     51
42.0     51
40.0     43
46.0     41
11.0     41
12.0     41
13.0     41
5.0      39
48.0     34
10.0     30
4.0      28
9.0      27
6.0      25
8.0      25
47.0     22
49.0     21
7.0      20
50.0     16
3.0      12
51.0     11
2.0       6
1.0       2
Name: housing_median_age, dtype: int64

 we will get all information of 0th index

In [ ]:
df.loc[0]

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

***we will get total_rooms data of 0th rows***

In [ ]:
df.loc[0,'total_rooms']

3885.0

###   info. of total_rooms from 0th to 5th rows

In [ ]:
df.loc[0:5,'total_rooms']

0    3885.0
1    1510.0
2    3589.0
3      67.0
4    1241.0
5    1018.0
Name: total_rooms, dtype: float64

**we will get data of 2nd to 4th rows and total-rooms to population column**

In [ ]:
df.loc[2:4,'total_rooms':'population']

   total_rooms  total_bedrooms  population
2       3589.0           507.0      1484.0
3         67.0            15.0        49.0
4       1241.0           244.0       850.0