<a href="https://colab.research.google.com/github/Amarsinh0/BASICS-OF-PANDA/blob/main/BASIC_PANDA_STEP_2_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
people={'first':['corey','jane','john'],
        'last':['shefer','doe','doe'] ,
        'email':['coreyshefer@gmail.com','janedoe@gmail.com','jonedoe@gamil.com']
        }

In [118]:
import pandas as pd

In [119]:
df=pd.DataFrame(people)

In [120]:
df

   first    last                  email
0  corey  shefer  coreyshefer@gmail.com
1   jane     doe      janedoe@gmail.com
2   john     doe      jonedoe@gamil.com

**to get all emails**

In [121]:
df['email']

0    coreyshefer@gmail.com
1        janedoe@gmail.com
2        jonedoe@gamil.com
Name: email, dtype: object

**to check type of dataframe**

In [122]:
type(df['email'])

pandas.core.series.Series

**all emails will works as email**

In [123]:
df.set_index('email')

                       first    last
email
coreyshefer@gmail.com  corey  shefer
janedoe@gmail.com       jane     doe
jonedoe@gamil.com       john     doe

give entries having last name is **doe**

In [124]:
filt=(df['last']=='doe')
df[filt]

  first last              email
1  jane  doe  janedoe@gmail.com
2  john  doe  jonedoe@gamil.com

In [125]:
df.loc[filt]

  first last              email
1  jane  doe  janedoe@gmail.com
2  john  doe  jonedoe@gamil.com

**emails of those having last name is doe**

In [126]:
df.loc[filt,'email']

1    janedoe@gmail.com
2    jonedoe@gamil.com
Name: email, dtype: object

it will shows those entries having first name==john **or** lastname==shefer

In [127]:
from pandas.core import shared_docs
filt=(df['last']=='shefer')| (df['first']=='john')
df[filt]

   first    last                  email
0  corey  shefer  coreyshefer@gmail.com
2   john     doe      jonedoe@gamil.com

In [128]:
df.loc[filt,'email']

0    coreyshefer@gmail.com
2        jonedoe@gamil.com
Name: email, dtype: object

**opposite sign (~)use for except that **

In [129]:
df.loc[~filt,'email']

1    janedoe@gmail.com
Name: email, dtype: object

# **updating rows and columns .......**
# modifing data in dataframe

In [130]:
df.columns=['first','last','email']
df

   first    last                  email
0  corey  shefer  coreyshefer@gmail.com
1   jane     doe      janedoe@gmail.com
2   john     doe      jonedoe@gamil.com

In [133]:
df=pd.DataFrame(people)

In [134]:
df

   first    last                  email
0  corey  shefer  coreyshefer@gmail.com
1   jane     doe      janedoe@gmail.com
2   john     doe      jonedoe@gamil.com

**change the name of columns**

In [143]:
df.columns=['first_name','last_name','email']

In [144]:
df

  first_name last_name                  email
0      corey    shefer  coreyshefer@gmail.com
1       jane       doe      janedoe@gmail.com
2       john       doe      jonedoe@gamil.com

**covert columns name in uppper case**

In [145]:
df.columns=[x.upper()for x in df.columns]

In [146]:
df.columns

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

In [147]:
df

  FIRST_NAME LAST_NAME                  EMAIL
0      corey    shefer  coreyshefer@gmail.com
1       jane       doe      janedoe@gmail.com
2       john       doe      jonedoe@gamil.com

###  add and remove all _ from columns name

In [149]:
df.columns=df.columns.str.replace ('',('_'))
df

,___F___I___R___S___T_______N___A___M___E___,___L___A___S___T_______N___A___M___E___,___E___M___A___I___L___
0,corey,shefer,coreyshefer@gmail.com
1,jane,doe,janedoe@gmail.com
2,john,doe,jonedoe@gamil.com

In [151]:
df.columns=df.columns.str. replace('_',(' '))

In [153]:
df

  FIRSTNAME LASTNAME                  EMAIL
0     corey   shefer  coreyshefer@gmail.com
1      jane      doe      janedoe@gmail.com
2      john      doe      jonedoe@gamil.com

**change the name of columns**

In [162]:
df.rename(columns={'FIRSTNAME':'first','LASTNAME':'last','EMAIL':'email'},inplace=True)
df

   first    last                  email
0  corey  shefer  coreyshefer@gmail.com
1   jane     doe      janedoe@gmail.com
2   john     doe      jonedoe@gamil.com

In [164]:
df.loc[2]

first                 john
last                   doe
email    jonedoe@gamil.com
Name: 2, dtype: object

**change the last name of above entery having name john**

In [169]:
df.loc[2]=['john','smith','johnsmith@email.com']

In [170]:
df

   first    last                  email
0  corey  shefer  coreyshefer@gmail.com
1   jane     doe      janedoe@gmail.com
2   john   smith    johnsmith@email.com

In [172]:
df.loc[2,['last','email']]=['doe','johndoe@email.com']

In [173]:
df

   first    last                  email
0  corey  shefer  coreyshefer@gmail.com
1   jane     doe      janedoe@gmail.com
2   john     doe      johndoe@email.com

**all email convert into uppercase**

In [177]:
df['email'].str.upper()

0    COREYSHEFER@GMAIL.COM
1        JANEDOE@GMAIL.COM
2        JOHNDOE@EMAIL.COM
Name: email, dtype: object

**find length of email**

In [179]:
df['email'].apply(len)

0    21
1    17
2    17
Name: email, dtype: int64

In [181]:
def update_email(email):
  return email.upper()

In [183]:
df['email'].apply(update_email)

0    COREYSHEFER@GMAIL.COM
1        JANEDOE@GMAIL.COM
2        JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [184]:
df

   first    last                  email
0  corey  shefer  coreyshefer@gmail.com
1   jane     doe      janedoe@gmail.com
2   john     doe      johndoe@email.com

In [185]:
df['email']=df['email'].apply(update_email)

In [186]:
df

   first    last                  email
0  corey  shefer  COREYSHEFER@GMAIL.COM
1   jane     doe      JANEDOE@GMAIL.COM
2   john     doe      JOHNDOE@EMAIL.COM

### **use lambda function**

In [187]:
df['email']=df['email'].apply(lambda x:x.lower())

In [188]:
df

   first    last                  email
0  corey  shefer  coreyshefer@gmail.com
1   jane     doe      janedoe@gmail.com
2   john     doe      johndoe@email.com

use  apply

In [191]:
df.apply(len,axis='columns')

0    3
1    3
2    3
dtype: int64

In [190]:
df['email'].apply(len)

0    21
1    17
2    17
Name: email, dtype: int64

In [192]:
len(df["email"])

3

**(series. min method ) will gives all alphabeticaly first values**

In [196]:
df.apply(pd.Series.min)

first                    corey
last                       doe
email    coreyshefer@gmail.com
dtype: object

min using lambda function

In [199]:
df.apply(lambda x:x.min())

first                    corey
last                       doe
email    coreyshefer@gmail.com
dtype: object

**apply map : it will apply on all values in dataframe**

In [200]:
df.applymap(len)

   first  last  email
0      5     6     21
1      4     3     17
2      4     3     17

In [208]:
df['email']=df['email'].apply(update_email)

In [209]:
df

   first    last                  email
0  corey  shefer  COREYSHEFER@GMAIL.COM
1   jane     doe      JANEDOE@GMAIL.COM
2   john     doe      JOHNDOE@EMAIL.COM

***apply map on all dataframe once and convert all datframe in lowercase***

In [210]:
df.applymap(str.lower)

   first    last                  email
0  corey  shefer  coreyshefer@gmail.com
1   jane     doe      janedoe@gmail.com
2   john     doe      johndoe@email.com

use map : non replace value will gives result as 'nan'  .. you can see in 2nd index

In [212]:
df['first'].map({'corey':'chris','jane':'mary'})

0    chris
1     mary
2      NaN
Name: first, dtype: object

use replace : here non replacable value will return as original before

In [215]:
df['first']=df['first'].replace({'corey':'chris','jane':'mary'})

**new dataframe**

In [216]:
df

   first    last                  email
0  chris  shefer  COREYSHEFER@GMAIL.COM
1   mary     doe      JANEDOE@GMAIL.COM
2   john     doe      JOHNDOE@EMAIL.COM