<a href="https://colab.research.google.com/github/Amarsinh0/BASICS-OF-PANDA/blob/main/Untitled58.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import numpy as np

In [37]:
sr=pd.Series()

<ipython-input-37-cc554eecde7f>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sr=pd.Series()

In [38]:
# simple arry
data=np.array(['a','b','c','d','e','f'])
ser=pd.Series(data)
print(ser)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [88]:
import pandas as pd

dic={'name':['amar','roshan','vishal','kranti','sahil','ingale'],
     'degree':['phy','che','data','civil','foren','btech'],
     'score':[90,80,70,60,98,89]}

df=pd.DataFrame(dic)
address=['kop','pano','jal','sang','aug','jalana']
df['Address']=address

print(df)

     name degree  score Address
0    amar    phy     90     kop
1  roshan    che     80    pano
2  vishal   data     70     jal
3  kranti  civil     60    sang
4   sahil  foren     98     aug
5  ingale  btech     89  jalana

In [97]:
df.drop(['name', 'degree'],axis=1,inplace=True)
print(df)

KeyError: ignored

In [39]:
import pandas as pd

lst=['learning','python','is','very','easy']
df=pd.DataFrame(lst)
print(df)

          0
0  learning
1    python
2        is
3      very
4      easy

In [69]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])
print(df2)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [40]:
import pandas as pd
dic={'name':['tom','ram','sham','ganesh','amar'],'age':[21,23,34,32,28,]}
df=pd.DataFrame(dic)
print(df)

     name  age
0     tom   21
1     ram   23
2    sham   34
3  ganesh   32
4    amar   28

In [41]:
import pandas as pd

dic={'name':['amar','roshan','vishal','kranti','sahil','ingale'],
     'degree':['phy','che','data','civil','foren','btech'],
     'score':[90,80,70,60,98,89]}

df=pd.DataFrame(dic)
print(df)

     name degree  score
0    amar    phy     90
1  roshan    che     80
2  vishal   data     70
3  kranti  civil     60
4   sahil  foren     98
5  ingale  btech     89

In [42]:
import pandas as pd
data=pd.read_csv("/content/sample_data/california_housing_train.csv")
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [43]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [44]:
data.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0

In [45]:
data.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [46]:
Series=data['total_rooms']
Series

0        5612.0
1        7650.0
2         720.0
3        1501.0
4        1454.0
          ...
16995    2217.0
16996    2349.0
16997    2677.0
16998    2672.0
16999    1820.0
Name: total_rooms, Length: 17000, dtype: float64

In [47]:
type(Series)

pandas.core.series.Series

In [48]:
data['population']

0        1015.0
1        1129.0
2         333.0
3         515.0
4         624.0
          ...
16995     907.0
16996    1194.0
16997    1244.0
16998    1298.0
16999     806.0
Name: population, Length: 17000, dtype: float64

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [62]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [63]:
data.min()

longitude              -124.3500
latitude                 32.5400
housing_median_age        1.0000
total_rooms               2.0000
total_bedrooms            1.0000
population                3.0000
households                1.0000
median_income             0.4999
median_house_value    14999.0000
dtype: float64

In [64]:
data.max()

longitude               -114.3100
latitude                  41.9500
housing_median_age        52.0000
total_rooms            37937.0000
total_bedrooms          6445.0000
population             35682.0000
households              6082.0000
median_income             15.0001
median_house_value    500001.0000
dtype: float64

In [66]:
data.count()

longitude             17000
latitude              17000
housing_median_age    17000
total_rooms           17000
total_bedrooms        17000
population            17000
households            17000
median_income         17000
median_house_value    17000
dtype: int64

In [67]:
data.mean()

longitude               -119.562108
latitude                  35.625225
housing_median_age        28.589353
total_rooms             2643.664412
total_bedrooms           539.410824
population              1429.573941
households               501.221941
median_income              3.883578
median_house_value    207300.912353
dtype: float64

In [68]:
data.std()

longitude                  2.005166
latitude                   2.137340
housing_median_age        12.586937
total_rooms             2179.947071
total_bedrooms           421.499452
population              1147.852959
households               384.520841
median_income              1.908157
median_house_value    115983.764387
dtype: float64

In [80]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [109]:
import pandas as pd

dic={'name':['amar','roshan','vishal','kranti','sahil','ingale'],
     'degree':['phy','che','data','civil','foren','btech'],
     'score':[90,80,70,60,98,89]}

df=pd.DataFrame(dic)
df

     name degree  score
0    amar    phy     90
1  roshan    che     80
2  vishal   data     70
3  kranti  civil     60
4   sahil  foren     98
5  ingale  btech     89

In [110]:
df.drop(["degree","score"],axis=1,inplace=True)
df

     name
0    amar
1  roshan
2  vishal
3  kranti
4   sahil
5  ingale

In [113]:
import pandas as pd
data=pd.read_csv("/content/sample_data/california_housing_train.csv")
data.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [120]:
f1=data.iloc[2]
f2=data.iloc[4]
print(f1,"\n\n\n",f2)

longitude              -114.5600
latitude                 33.6900
housing_median_age       17.0000
total_rooms             720.0000
total_bedrooms          174.0000
population              333.0000
households              117.0000
median_income             1.6509
median_house_value    85700.0000
Name: 2, dtype: float64


 longitude              -114.570
latitude                 33.570
housing_median_age       20.000
total_rooms            1454.000
total_bedrooms          326.000
population              624.000
households              262.000
median_income             1.925
median_house_value    65500.000
Name: 4, dtype: float64

concat dataframe :- pd.concat()

In [125]:
import pandas as pd
# First DataFrame
df1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
					'Name': ['ABC', 'PQR', 'DEF', 'GHI']})

# Second DataFrame
df2 = pd.DataFrame({'id': ['B05', 'B06', 'B07', 'B08'],
					'Name': ['XYZ', 'TUV', 'MNO', 'JKL']})


frames = [df1, df2]

result = pd.concat(frames)
display(result)

    id Name
0  A01  ABC
1  A02  PQR
2  A03  DEF
3  A04  GHI
0  B05  XYZ
1  B06  TUV
2  B07  MNO
3  B08  JKL

In [142]:
dic={'name':['amar','roshan','vishal','kranti','sahil','ingale'],
     'degree':['phy','che','data','civil','foren','btech'],
     'score':[90,80,70,60,98,89]}

df=pd.DataFrame(dic)

df

     name degree  score
0    amar    phy     90
1  roshan    che     80
2  vishal   data     70
3  kranti  civil     60
4   sahil  foren     98
5  ingale  btech     89

In [207]:
# importing the module
import pandas as pd

# creating a sample dataframe
data = pd.DataFrame({'Brand': ['Maruti', 'Hyundai', 'Tata',
							'Mahindra', 'Maruti', 'Hyundai',
							'Renault', 'Tata', 'Maruti'],
					'Year': [2012, 2014, 2011, 2015, 2012,
							2016, 2014, 2018, 2019],
					'Kms Driven': [50000, 30000, 60000,
									25000, 10000, 46000,
									31000, 15000, 12000],
					'City': ['Gurgaon', 'Delhi', 'Mumbai',
							'Delhi', 'Mumbai', 'Delhi',
							'Mumbai', 'Chennai', 'Ghaziabad'],
					'Mileage': [28, 27, 25, 26, 28,
								29, 24, 21, 24]})

data

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       28
1   Hyundai  2014       30000      Delhi       27
2      Tata  2011       60000     Mumbai       25
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       28
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       24
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

In [208]:
Bcol=data["Brand"]
data.index=Bcol
new=data.loc[["Tata","Renault"],["Mileage","City"]]
print(new)

         Mileage     City
Brand
Tata          25   Mumbai
Tata          21  Chennai
Renault       24   Mumbai

In [171]:
data.loc[:,['City','Mileage']]

        City  Mileage
0    Gurgaon       22
1      Delhi       22
2     Mumbai       22
3      Delhi       26
4     Mumbai       22
5      Delhi       29
6     Mumbai       22
7    Chennai       21
8  Ghaziabad       24

In [176]:
data[data.columns[1:4]]

   Year  Kms Driven       City
0  2012       50000    Gurgaon
1  2014       30000      Delhi
2  2011       60000     Mumbai
3  2015       25000      Delhi
4  2012       10000     Mumbai
5  2016       46000      Delhi
6  2014       31000     Mumbai
7  2018       15000    Chennai
8  2019       12000  Ghaziabad

In [179]:
data.iloc[:6,3:5]

      City  Mileage
0  Gurgaon       22
1    Delhi       22
2   Mumbai       22
3    Delhi       26
4   Mumbai       22
5    Delhi       29

In [180]:
data.iloc[0]

Brand          Maruti
Year             2012
Kms Driven      50000
City          Gurgaon
Mileage            22
Name: 0, dtype: object

In [183]:
data.drop(['Year','City'],axis=1,inplace=True)
data

      Brand  Kms Driven  Mileage
0    Maruti       50000       22
1   Hyundai       30000       22
2      Tata       60000       22
3  Mahindra       25000       26
4    Maruti       10000       22
5   Hyundai       46000       29
6   Renault       31000       22
7      Tata       15000       21
8    Maruti       12000       24

In [ ]:
#adding new colums by assign() method
df.assign(Address=['delhi','mumba','kop'])

In [152]:
a=data.loc[(data.Brand=='Maruti') & (data.Mileage>25)]
print(a)

    Brand  Year  Kms Driven     City  Mileage
0  Maruti  2012       50000  Gurgaon       28
4  Maruti  2012       10000   Mumbai       28

In [155]:
data.loc[2:5]

      Brand  Year  Kms Driven    City  Mileage
2      Tata  2011       60000  Mumbai       25
3  Mahindra  2015       25000   Delhi       26
4    Maruti  2012       10000  Mumbai       28
5   Hyundai  2016       46000   Delhi       29

In [163]:
x=data.iloc[[2,3,5]]
print(x)

      Brand  Year  Kms Driven    City  Mileage
2      Tata  2011       60000  Mumbai       22
3  Mahindra  2015       25000   Delhi       26
5   Hyundai  2016       46000   Delhi       29

In [166]:
data.iloc[1:6,3:5]

     City  Mileage
1   Delhi       22
2  Mumbai       22
3   Delhi       26
4  Mumbai       22
5   Delhi       29

In [256]:
# importing the module
import pandas as pd

# creating a sample dataframe
data = pd.DataFrame({'Brand': ['Maruti', 'Hyundai', 'Tata',
							'Mahindra', 'Maruti', 'Hyundai',
							'Renault', 'Tata', 'Maruti'],
					'Year': [2012, 2014, 2011, 2015, 2012,
							2016, 2014, 2018, 2019],
					'Kms Driven': [50000, 30000, 60000,
									25000, None, 46000,
									31000, 15000, 12000],
					'City': ['Gurgaon', 'Delhi', 'Mumbai',
							'Delhi', None, 'Delhi',
							'Mumbai', 'Chennai', 'Ghaziabad'],
					'Mileage': [28, 27, 25, 26, 28,
								29, 24, 21, None]})

data

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012     50000.0    Gurgaon     28.0
1   Hyundai  2014     30000.0      Delhi     27.0
2      Tata  2011     60000.0     Mumbai     25.0
3  Mahindra  2015     25000.0      Delhi     26.0
4    Maruti  2012         NaN       None     28.0
5   Hyundai  2016     46000.0      Delhi     29.0
6   Renault  2014     31000.0     Mumbai     24.0
7      Tata  2018     15000.0    Chennai     21.0
8    Maruti  2019     12000.0  Ghaziabad      NaN

In [245]:
data.isnull()

   Brand   Year  Kms Driven   City  Mileage
0  False  False       False  False    False
1  False  False       False  False    False
2  False  False       False  False    False
3  False  False       False  False    False
4  False  False        True  False    False
5  False  False       False  False    False
6  False  False       False  False    False
7  False  False       False  False    False
8  False  False       False  False     True

In [246]:
data.isnull().sum()

Brand         0
Year          0
Kms Driven    1
City          0
Mileage       1
dtype: int64

In [247]:
data.notnull()

   Brand  Year  Kms Driven  City  Mileage
0   True  True        True  True     True
1   True  True        True  True     True
2   True  True        True  True     True
3   True  True        True  True     True
4   True  True       False  True     True
5   True  True        True  True     True
6   True  True        True  True     True
7   True  True        True  True     True
8   True  True        True  True    False

In [280]:
data.dropna()

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012     50000.0    Gurgaon     28.0
1   Hyundai  2014     30000.0      Delhi     27.0
2      Tata  2011     60000.0     Mumbai     25.0
3  Mahindra  2015     25000.0      Delhi     26.0
4    Maruti  2012       -99.0    No city     28.0
5   Hyundai  2016     46000.0      Delhi     29.0
6   Renault  2014     31000.0     Mumbai     24.0
7      Tata  2018     15000.0    Chennai     21.0
8    Maruti  2019     12000.0  Ghaziabad    -99.0

In [279]:
data.fillna("0")

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012     50000.0    Gurgaon     28.0
1   Hyundai  2014     30000.0      Delhi     27.0
2      Tata  2011     60000.0     Mumbai     25.0
3  Mahindra  2015     25000.0      Delhi     26.0
4    Maruti  2012       -99.0    No city     28.0
5   Hyundai  2016     46000.0      Delhi     29.0
6   Renault  2014     31000.0     Mumbai     24.0
7      Tata  2018     15000.0    Chennai     21.0
8    Maruti  2019     12000.0  Ghaziabad    -99.0

In [278]:

data.fillna(method='pad')

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012     50000.0    Gurgaon     28.0
1   Hyundai  2014     30000.0      Delhi     27.0
2      Tata  2011     60000.0     Mumbai     25.0
3  Mahindra  2015     25000.0      Delhi     26.0
4    Maruti  2012       -99.0    No city     28.0
5   Hyundai  2016     46000.0      Delhi     29.0
6   Renault  2014     31000.0     Mumbai     24.0
7      Tata  2018     15000.0    Chennai     21.0
8    Maruti  2019     12000.0  Ghaziabad    -99.0

In [277]:
data.fillna(method='bfill')

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012     50000.0    Gurgaon     28.0
1   Hyundai  2014     30000.0      Delhi     27.0
2      Tata  2011     60000.0     Mumbai     25.0
3  Mahindra  2015     25000.0      Delhi     26.0
4    Maruti  2012       -99.0    No city     28.0
5   Hyundai  2016     46000.0      Delhi     29.0
6   Renault  2014     31000.0     Mumbai     24.0
7      Tata  2018     15000.0    Chennai     21.0
8    Maruti  2019     12000.0  Ghaziabad    -99.0

In [276]:
data.interpolate(method='linear',limit_direction='forward')
data

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012     50000.0    Gurgaon     28.0
1   Hyundai  2014     30000.0      Delhi     27.0
2      Tata  2011     60000.0     Mumbai     25.0
3  Mahindra  2015     25000.0      Delhi     26.0
4    Maruti  2012       -99.0    No city     28.0
5   Hyundai  2016     46000.0      Delhi     29.0
6   Renault  2014     31000.0     Mumbai     24.0
7      Tata  2018     15000.0    Chennai     21.0
8    Maruti  2019     12000.0  Ghaziabad    -99.0

In [275]:
data["City"].fillna("No city",inplace=True)
data

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012     50000.0    Gurgaon     28.0
1   Hyundai  2014     30000.0      Delhi     27.0
2      Tata  2011     60000.0     Mumbai     25.0
3  Mahindra  2015     25000.0      Delhi     26.0
4    Maruti  2012       -99.0    No city     28.0
5   Hyundai  2016     46000.0      Delhi     29.0
6   Renault  2014     31000.0     Mumbai     24.0
7      Tata  2018     15000.0    Chennai     21.0
8    Maruti  2019     12000.0  Ghaziabad    -99.0

In [274]:
data.replace(np.nan,value=0)
data

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012     50000.0    Gurgaon     28.0
1   Hyundai  2014     30000.0      Delhi     27.0
2      Tata  2011     60000.0     Mumbai     25.0
3  Mahindra  2015     25000.0      Delhi     26.0
4    Maruti  2012       -99.0    No city     28.0
5   Hyundai  2016     46000.0      Delhi     29.0
6   Renault  2014     31000.0     Mumbai     24.0
7      Tata  2018     15000.0    Chennai     21.0
8    Maruti  2019     12000.0  Ghaziabad    -99.0

In [272]:
data.interpolate(method='linear',limit_direction='forward')

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012     50000.0    Gurgaon     28.0
1   Hyundai  2014     30000.0      Delhi     27.0
2      Tata  2011     60000.0     Mumbai     25.0
3  Mahindra  2015     25000.0      Delhi     26.0
4    Maruti  2012       -99.0    No city     28.0
5   Hyundai  2016     46000.0      Delhi     29.0
6   Renault  2014     31000.0     Mumbai     24.0
7      Tata  2018     15000.0    Chennai     21.0
8    Maruti  2019     12000.0  Ghaziabad    -99.0

In [271]:
data.dropna()

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012     50000.0    Gurgaon     28.0
1   Hyundai  2014     30000.0      Delhi     27.0
2      Tata  2011     60000.0     Mumbai     25.0
3  Mahindra  2015     25000.0      Delhi     26.0
4    Maruti  2012       -99.0    No city     28.0
5   Hyundai  2016     46000.0      Delhi     29.0
6   Renault  2014     31000.0     Mumbai     24.0
7      Tata  2018     15000.0    Chennai     21.0
8    Maruti  2019     12000.0  Ghaziabad    -99.0

In [ ]:
data.dropna(how='all')     # if all value is null in row it will drop that row
data.dropna(how='any')     # if any value is null in row it will drop that entire row
data.dropna(axis=1)        # drop column having at least one null value